/* CSS */

body {	
    font-family:Arial;
    padding: 0px;
	margin: 0px;
	padding:20px


}

.graph {
    float:left;
    padding:10px;
}

button {
  color: black;
  font-weight: bold;
  font-size: 140%;
  text-transform: uppercase;
}

input {  
  height:30px;
  width:400px;
}


#search_form {
    padding-top:200px;
    width:700px;
    height:300px;
    border:1px solid black;
    margin:0 auto;
}

.video {
    padding:15px;
    float:left;
    margin-top:15px;
    background-color:#ededed;

}

/* Video Styles */

.content {
    float:left;
}

.on {
    display: block;
}

.off {
    display: none;
}

.thumb {
    float:left;
    width:15
    0px;
    height:100px;
    margin:15px;
}

.title {
    cursor:pointer;
    margin:10px;
    font-size:18px;
    font-weight:bold;
}

.published {
    float:left;
    font-size:12px;
}

.link {
    float:left;
}
.legend {
    float:left;

overflow:hidden;
}